# Assignment_1 Programming Basics - R

## Create a matrix with three rows A, B and C and four columns with names Q, W, E and R. Fill the matrix with any numbers between 1 and 10.

In [ ]:
# Create a matrix with numbers between 1 and 10
mat <- matrix(sample(1:10, 12, replace = TRUE), nrow = 3)

# Assign names
rownames(mat) <- c("A", "B", "C")
colnames(mat) <- c("Q", "W", "E", "R")

print(mat)

   Q W E R
A  5 1 7 5
B  4 9 7 4
C 10 9 8 6

## x = 24, y =”Hello World”, z = 93.65. Identify the class of x, y and z and convert all three into factor.

In [ ]:
x <- 24
y <- "Hello World"
z <- 93.65

# Print the classes
cat("Class of x:", class(x), "\n")
cat("Class of y:", class(y), "\n")
cat("Class of z:", class(z), "\n")

# Convert into factors
x <- as.factor(x)
y <- as.factor(y)
z <- as.factor(z)

# Print the classes
cat("Class of x:", class(x), "\n")
cat("Class of y:", class(y), "\n")
cat("Class of z:", class(z), "\n")

Class of x: numeric
Class of y: character
Class of z: numeric
Class of x: factor
Class of y: factor
Class of z: factor

## q = 65.9836 a. Find square root of q and round it up to 3 digits. b. Check if log to the base 10 of q is less than 2.

In [ ]:
q <- 65.9836

sqrt_q <- round(sqrt(q), 3)

cat("Square root of q rounded to 3 decimal places:", sqrt_q, "\n")
cat("Is log10(q) less than 2?:", (log10(q) < 2), "\n")

Square root of q rounded to 3 decimal places: 8.123
Is log10(q) less than 2?: TRUE

## 4. x = c(“Intelligence”, “Knowledge”, “Wisdom”, “Comprehension”) y = “I am” z = “intelligent” a. Find first 4 letters of each word in x. b. Combine y and z to form a sentence “I am intelligent” c. Convert all the words in x to upper case.

In [ ]:
x <- c("Intelligence", "Knowledge", "Wisdom", "Comprehension")
y <- "I am"
z <- "intelligent"


first_4_letters <- substr(x, 1, 4)
cat(first_4_letters, "\n")


sentence <- paste(y, z)
cat(sentence, "\n")

x_upper <- toupper(x)
cat(x_upper, "\n")

Inte Know Wisd Comp
I am intelligent
INTELLIGENCE KNOWLEDGE WISDOM COMPREHENSION

## a = c(3,4,14,17,3,98,66,85,44) Print “Yes” if the numbers in ‘a’ are divisible by 3 and “No” if they are not divisible by 3 using ifelse().

In [ ]:
a <- c(3, 4, 14, 17, 3, 98, 66, 85, 44)

result <- ifelse(a %% 3 == 0, "Yes", "No")

print (result)

[1] "Yes" "No"  "No"  "No"  "Yes" "No"  "Yes" "No"  "No"

## b = c(36,3,5,19,2,16,18,41,35,28,30,31) List all the numbers less than 30 in b using for loop.

In [ ]:
b <- c(36,3,5,19,2,16,18,41,35,28,30,31)
is_less_then_30 <- c()

for (item in b){
  if (item < 30)
    is_less_then_30 <- c(is_less_then_30,item)
}

print (is_less_then_30)

[1]  3  5 19  2 16 18 28

## Date = “01/30/18” a) Convert Date into standard date format (yyyy-mm-dd) and name it as Date_new. b) Extract day of week and month from Date_new. c) Find the difference in the current system date and Date_new.

In [ ]:
Date <- "01/30/18"

Date_new <- as.Date(Date, format = "%m/%d/%y")
Date_new

[1] "2018-01-30"

In [ ]:
day_of_week <- weekdays(Date_new)
month <- months(Date_new)

print (day_of_week)
print (month)

[1] "Tuesday"
[1] "January"

In [ ]:
current_date <- Sys.Date()
date_difference <- difftime(current_date, Date_new, units = "days")
date_difference

Time difference of 2427 days